.ui.secondary.pointing.menu {
    border-bottom: none;
}

.borderless {
    border: none !important;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0;
}

.quote.stripe.segment {
    padding: 0;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.landing-image {
    background-image: url('../images/splash.jpg') !important;
    background-size: cover !important;
}

.ui.secondary.inverted.pointing.menu {
    border: none !important;
}

.hero {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.hero-color {
    color: #0E83CD;
}

.hero-center {
    text-align: center;
}

.hero-row {
    padding: 2em 0 !important;
    background: #0E83CD !important;
    color: #FFFFFF;
    text-align: center;
}

.ui.vertical.stripe h3 {
    font-size: 1.7em;
}

.hero-padding {
    padding-bottom: 40px !important;
}

.container > section {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:after {
    content: ' ';
    display: inline-block;
    width: 10px;
}

.hero-icon i {
    font-size: 16px;
    color: #FFFFFF;
}
.hero-icon {
    margin-top: 5px;
}

.hero-list ul, .hero-list li {
    display: inline-block;
}

#modal-12 > div > div > div.ui.form > div.ui.toggle.checkbox > label > a {
    color: #FFFFFF;
}

.ui.labeled.icon.menu .item{
    min-width: 33.3333%;
    max-width: 33.3333%;
    font-size: 0.8em;
    padding: 6px 2px;
}

.ui.pointing.menu {
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 360px) {
    .hero-list ul, .hero-list li {
        line-height: 25px !important;
    }
}